html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
}

nav {
  background-color: #007CC1;
}

nav ul {
  margin: 0px;
}
nav ul li {
  list-style: none;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.button-container {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem 3rem 6rem;
}

.button-container img {
  z-index: 1;
  width: 175px;;
}

button {
  background-color: #147DC0;
  font-weight: 600;
  color: #ffffff;
  background-image: none;
  text-decoration: none;
  min-height: 5rem;
  min-width: 15rem;
  border-radius: .9rem;
  margin: auto 5rem;
}

.chart-container {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#myDiv {
  width: 100%;
}

.checkbox-container {
  grid-column: 4/4;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  grid-row: 1/3;
  width: 25rem;
  margin-top: 0;
  color: #EEEEEE;
  background-color: #182929;
  font-size: 16px;
}

.checkbox-container h1 {
  text-align: center;
}

.checkboxes {
  display: inline;
  margin: 1rem 3rem;
}

@media (max-width: 37.5rem) {
  .container {
    display: block;
    width: 100%;
  }

  .button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  button {
    margin: 5rem auto;
  }
  .chart-container {
    display: block;
    width: 100%;
  }
  .checkbox-container {
    display: block;
    width: 100%;
  }
}
